In [14]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv('dataset/vendas_loja_seminovos.csv', sep=";")

In [28]:
df2 = df[['Marca', 'Valor_venda']].copy()
df2['Ano'] = pd.to_datetime(df['Data_venda']).dt.year
df2

         Marca  Valor_venda   Ano
0       Toyota     80028.52  2017
1      Hyundai    103668.13  2022
2         Ford    229867.69  2018
3        Honda    105843.27  2024
4         Ford     66929.84  2019
...        ...          ...   ...
10945  Peugeot    231302.02  2019
10946  Peugeot    232535.91  2024
10947   Toyota    224157.58  2021
10948     Ford     76003.85  2018
10949     Ford    115763.45  2017

[10950 rows x 3 columns]

In [29]:
pd.pivot_table(df2, index='Marca', columns='Ano', aggfunc='sum')

            Valor_venda                                                      \
Ano                2017         2018         2019         2020         2021
Marca
Chevrolet    3425812.41   7060693.10   5065393.06   5093529.20   6094851.00
Citroen      6497609.49   9114889.41   8645520.47  10339275.87   8294420.08
Fiat        11247727.96  16243485.68  18518113.59  14787178.52  15442123.92
Ford        21294284.17  30488037.36  32018980.74  34343858.98  33242201.53
Honda       18857238.21  25166596.38  27174047.55  26988163.21  26629036.35
Hyundai      7059216.75   9961566.53  10257365.66   9523470.42  11530651.98
Jeep         1786708.09   2106787.10    365034.87   1333882.81   1304522.04
Peugeot     20516262.37  29464743.66  28375632.45  28171702.56  28627735.23
Toyota      29207944.47  40672990.94  38977724.57  43961627.27  36330850.44
Volskwagen  14773710.64  21276461.28  20139717.89  24154495.62  20778584.57


Ano                2022         2023         2024         2025
Marca
Chevrolet    6347806.76   6094896.02   3947350.06   1041455.64
Citroen      8738544.32   6762058.13  10932864.91   2669735.98
Fiat        12962431.06  17985011.87  17983737.91   5304003.75
Ford        36861075.93  34551162.29  32245461.63  10513766.68
Honda       27689045.09  25291282.39  26832698.40   7466543.95
Hyundai     13509338.05  12369705.72  13050210.97   3976722.34
Jeep         1466048.85   1183526.82    816366.00    679111.04
Peugeot     30015979.84  31239452.59  28229205.13   7901618.46
Toyota      36923480.76  36023888.33  35755484.62  12645890.58
Volskwagen  22305844.95  21896756.02  20233903.71   6874213.55